<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MailFolder" value="C:\Users\khangnt\source\repos\EmailTest"/>
		<add key="AppName" value="Mail2Go"/>
		<add key="ChunkSize" value="2"/>
		<add key="MaxThread" value="24"/>
		<add key="Version" value="0.0.0.1"/>
	</appSettings>
</configuration>